@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <!-- first half page-->
        <div class="col-xl-6 col-lg-6">
            <div class="row" style="text-align:right">
                <!-- header -->
                <div class="col-xl-3 col-lg-3">Devices</div> <div class="col-xl-2 col-lg-2">OEE</div> <div class="col-xl-2 col-lg-2">Machine Waste(%)</div> <div class="col-xl-2 col-lg-2">Productivity (SU/Hr)</div> <div class="col-xl-2 col-lg-3">Total Waste (% MTD)</div>
            </div>
            <!-- second row-->
            <div class="row lftTable">
                <div class="col-xl-3 col-lg-3" id="devDiperid">
                    TJ01
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="secSpan">87.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="secSpan">2.1</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.6</span>
                    <span class="secSpan">55.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="secSpan">3.0</span>
                </div>
            </div>
            <!-- Third row-->
            <div class="row lftTable">
                <div class="col-xl-3 col-lg-3" id="devDiperid">
                    TJ02
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="secSpan">87.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="secSpan">2.1</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.6</span>
                    <span class="secSpan">55.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="secSpan">3.0</span>
                </div>
            </div>
            <!-- Fourth row-->
            <div class="row lftTable">
                <div class="col-xl-3 col-lg-3" id="devDiperid">
                    TJ03
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="secSpan">87.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="secSpan">2.1</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.6</span>
                    <span class="secSpan">55.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="secSpan">3.0</span>
                </div>
            </div>
            <!-- Result -->
            <div class="row rsltTable">
                <div class="col-xl-3 col-lg-3">Diaper sub-total</div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="secSpan">87.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="secSpan">2.1</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.6</span>
                    <span class="secSpan">55.0</span>
                </div>

                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="secSpan">3.0</span>
                </div>
            </div>

            <!-- fifth row-->
            <div class="row lftTable">
                <div class="col-xl-3 col-lg-3" id="devid">
                    TJ21
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="blueSpan">87.0</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="blueSpan">2.1</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.4</span>
                    <span class="blueSpan">55.0</span>
                </div>


                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="blueSpan">3.0</span>
                </div>

            </div>
            <!-- Sixth row-->
            <div class="row lftTable">
                <div class="col-xl-3 col-lg-3" id="devid">
                    TJ22
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="blueSpan">87.0</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="blueSpan">2.1</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.4</span>
                    <span class="blueSpan">55.0</span>
                </div>


                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="blueSpan">3.0</span>
                </div>
            </div>
            <!-- Seventh row-->
            <div class="row lftTable">
                <div class="col-xl-3 col-lg-3" id="devid">
                    TJ23
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="blueSpan">87.0</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="blueSpan">2.1</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.4</span>
                    <span class="blueSpan">55.0</span>
                </div>


                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="blueSpan">3.0</span>
                </div>
            </div>
            <!-- Result -->
            <div class="row rsltTable">
                <div class="col-xl-3 col-lg-3">Pants sub-total</div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">86.5</span>
                    <span class="blueSpan">87.0</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">2.4</span>
                    <span class="blueSpan">2.1</span>
                </div>
                <div class="col-xl-2 col-lg-2">
                    <span class="break">56.4</span>
                    <span class="blueSpan">55.0</span>
                </div>


                <div class="col-xl-2 col-lg-2">
                    <span class="break">3.5</span>
                    <span class="blueSpan">3.0</span>
                </div>
            </div>

            <!-- final output left side -->
            <div class="row totalResult">
                <div class="col-xl-3 col-lg-3">Total</div> <div class="col-xl-2 col-lg-2">88.4</div> <div class="col-xl-2 col-lg-2">2.1</div> <div class="col-xl-2 col-lg-2">55.8</div> <div class="col-xl-2 col-lg-2">3.3</div>
            </div>

        </div>
        <!-- Second half page-->
        <div class="col-xl-6 col-lg-6" style="margin-top: 20px;">
            <div class="container-fluid">
                <div class="row" style="text-align:Left;">
                    <div class="col-xl-6 col-lg-6">
                        Diaper Production Process
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        Yesterday
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        Today
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        Tomorrow
                    </div>
                </div>

                <div class="row rightTable">
                    <!--<div class="rightTable"> (Prgress bar)-->
                    <div class="col-xl-6 col-lg-6" style="padding-top:15px">
                        <!-- Orange -->
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width:40%">40%</div>
                        </div>
                        <div class="">
                            Produced cases/ Planned cases
                        </div>
                        <hr>
                        <!-- Red -->
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width:40%">40%</div>
                        </div>
                        <div class="">
                            Produced cases/ Planned cases
                        </div>
                        <hr>

                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width:40%">40%</div>
                        </div>
                        <div class="">
                            Produced cases/ Planned cases
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6">

                        <div id="circle">
                        </div>
                        <script>
                            $(document).ready(function () {
                                var nPercent = 90;
                                var showPercentText = true;
                                var thickness = 5;
                                var circleSize = 70;

                                $('#circle').progressCircle({
                                    nPercent: nPercent,
                                    showPercentText: showPercentText,
                                    thickness: thickness,
                                    circleSize: circleSize
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="circle">
</div>
<script>
    $(document).ready(function () {
        var nPercent = 90;
        var showPercentText = true;
        var thickness = 5;
        var circleSize = 70;

        $('#circle').progressCircle({
            nPercent: nPercent,
            showPercentText: showPercentText,
            thickness: thickness,
            circleSize: circleSize
        });
    });
</script>*@
